body{
    margin-top: 10%;
    
    background-color: rgb(173, 173, 173)
}
table{

    border: 10px;
}
th{
    background-color: rgb(251, 255, 0);
    border-radius: 10px;
    padding-top: 10%;
    width: 10%;
    height: 50%;
}
button{
    padding: 20%;
    border-radius: 10px;
    width: 20px;
    height: 30px;
    align-content: center;
}