h2{
    background-color: rgb(198, 210, 30);
    color: rgb(0, 0, 0);
}



#usingID{
    background-color: blueviolet;
    color: rgb(226, 226, 226);
}
#pID{
    font-weight: bolder;
    color: rgb(70, 126, 14);
}



.usingCLASS{
    background-color: darkred;
    color: rgb(0, 255, 255);
}
.pCLASS{
    color: blueviolet;
}



*{
    margin: 10px;
    text-align: center;

}

body{
    
    font-family: cursive;
}

.box
{
    margin-top: 80px;
    color: indigo;
    background-color: burlywood;
}

.boxmodel{

    width: 300px;
    margin: auto;
    
    border: 60px indigo;
    padding: 20px;
    background-color: rgb(0, 255, 255);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}